%% -*- erlang -*-
%% Config file for midi application
{deps, []}.
{erl_opts, [debug_info, fail_on_warning]}.

{port_env, [{"linux", "CFLAGS", "$CFLAGS"},
	    {"linux", "LDFLAGS", "$LDFLAGS"}
	    ]}.

{port_specs, [
	      {"priv/demo.so", ["c_src/demo_nif.c"]},
	      {"priv/demo2.so", ["c_src/demo2_nif.c"]},
	      {"priv/demo3.so", ["c_src/demo3_nif.c"]}	      
	     ]}.
